<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.employee.management.test.dao.maria.MariaUserMapper">
    <select id="getUserById" parameterType="long" resultType="com.example.employee.management.test.model.User">
        SELECT id, pw /** MariaDB selectUserById **/
        FROM test
        WHERE id = #{id}
    </select>
</mapper>